* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #f5f5f5;
    margin: 20px;
    font-family: $primary-font;
}

h1 {
    font-family: $big-font;
}

h2, h3, h4 {
    font-family: $headers-font;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    display: inherit;
}

.section {
    // border: 1px solid green;
    width: 90vw;
    margin: auto;
}