.detail {
    z-index: 0;
    display: none;
    margin-bottom: 15px;
    border-radius: 0 0 20px 20px;
    background-color: $whitesmoke;
    transition: 1.5s;
    color: black;
}

.unroll {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-emp {
    visibility: hidden;
}
.detail-full {
    visibility: visible;
    transition: 1s;
    animation: showme 1s alternate-reverse;
}

.arrow {
    margin: 3px;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    color: white;
    display: inherit;
    cursor: pointer;
    svg {
        margin-right: 10px;
    }
}
.arrow:hover {
    cursor: pointer;
}

@keyframes showme {
    0% {opacity: 1;}
    100% {
        opacity: 0;
    }
}
