//cały container, wraz z h3 w środku
.technologies {
    width: 70%;
    h3 {
        font-size: 25px;
    }
    .tech-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
    }  
}

.tech-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    min-width: 120px;
    padding: 5px;
    margin: 10px;
    p {
        bottom: 20px;
        margin-top: 5px;
        font-size: 20px;
    }
}

//soft skills section
.slider-prov {
    margin: 20px 20px 40px;
    width: 40vw;
    padding: 0;
    h3 {
        font-size: 25px;
    }
}

.slider-buts {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 10px;
}
.fa-chevron-left,
.fa-chevron-right {
    font-size: 40px;
    &:hover {
        opacity: .7
    }
}
.dots {
    display: flex;
    justify-content: center;
    color: black;
    height: 20px;
    padding: 5px;
}
.little-dot {
    margin: 0 10px;
    font-size: 30px;
    &:hover {
        opacity: .7;
    }
}
.dot-desc {
    font-size: 18px;
    text-align: justify;
}
