$size: 10vh;

.footer-container {
    // height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item {
    height: $size*5;
    width: 55vw;
    background-image: url(../pics/reading_grl.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: blinky 1s 2;
    &:hover {
        animation: blinky 1s 4;
    }
}


.footer-link {
    position: absolute;
    bottom: 2vh;
    right: 3vw;
    
    .footer-up-btn {
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        background: inherit;
        border: 1px solid $whitesmoke;
        border-radius: 10px;
        position: relative;
        z-index: 5;
        &:hover {
            box-shadow: 0 0 10px rgb(216, 216, 216), 
                        0 0 20px rgb(173, 163, 164), 
                        0 0 30px rgb(114, 107, 110);
        }
    }
}

@keyframes blinky {
    0%, 20%, 25%, 60%, 80%, 84%, 94% {
        opacity: 0;
    }

    12%, 22%, 27%, 62%, 82%, 86%, 96% {
        opacity: 1;
    }
}