@media only screen and (max-width: 1100px){
    .content-item {
        font-size: 32px;
    }
    //slider (2nd section)
    .slider-prov {
        width: 47vw;
        margin-top: 0;
        margin: auto;
    }
    .dot-desc {
        font-size: 14px;
        margin: 0;
    }
}


@media only screen and (max-width: 790px) {
    .content-item {
        font-size: 30px;
    }
    //section1 about me:
    .photo-me {
        width: 30vw;
        height: 30vw;
    }
    .desc-me {
        font-size: 16px;
    }
    //section1 working places:
    .works-intro {
        font-size: 16px;
    }

    //section 2 soft-skills:
    .slider-prov {
        width: 55vw;
    }
    .dot-desc {
        font-size: 13px;
    }

     //section 3 details:
     .detail3 {
        flex-direction: column;
        img {
            width: 90%;
            transition: .3s;
            &:hover {
                width: 90% ;
                position: static;
                cursor: auto;
            }
        }
        .description {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 650px) {    
    .hello {
        min-height: 22vh;
        h1 {
            font-size: 32px;   
        }
    } 
    .title, .content-item {
        font-size: 25px;
    }
    
    //section1 about me:
    .about-pp {
        flex-direction: column;
    }
    .photo-me {
        width: 40vw;
        height: 40vw;
    }
    .desc-me {
        width: 70%; 
        p {
            font-size: 16px;
        }
    }

    //section1 workplaces:
    .works-list {
        padding: 5px;
    }
    .works-item {
        flex-direction: column;
        align-items: center;
        .works-item-data {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
        .w-i-desc {
            font-size: 14px;
            width: 70%;
        }
    }
    
    //section 2 technologies:
    .tech-item {
        min-width: 110px;
        margin: 5px;
        p {
            font-size: 15px;
        }
    }
    
    .slider-prov {
        width: 70vw;
        h3{
            font-size: 20px;           
        }
        h2 {
            font-size: 16px;
            margin: 0;
        }
    }
    .fa-chevron-left,
    .fa-chevron-right {
    font-size: 30px; }
    .slider-buts {
        margin: 0;
    }
    
    //section 3 letter-sizing:
    .description {
        div, p, .link {
            font-size: 15px;
        }
        .techno-item {
            font-size: 18px;
        }
    }
   //section 4
   .wrap {
    overflow-wrap: break-word;
    //footer
    .footer-link {
        .footer-up-btn{
            font-size: 14px;
        }
    }
}

}
//smaller size:
@media only screen and (max-width: 400px) {
    .content-item {
        font-size: 20px;
    }
    .hello {
        min-height: 25vh;
        h1 {
            font-size: 25px;   
        }
    }
    .desc-me {
        p {
            font-size: 14px;
        }
    }
    
    .works-item {   
        .works-item-data {
            width: 100%;
        }
        .w-i-desc {
            width: 90%;
        }
    }
    .tech-item {
        min-width: 100px;
        margin: 0px;
        p {
            font-size: 15px;
        }
    }
}